.ax_default {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
._图片 {
}
._形状 {
}
._一级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-size:32px;
  text-align:left;
}
._二级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-size:24px;
  text-align:left;
}
._三级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-size:18px;
  text-align:left;
}
._四级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-size:14px;
  text-align:left;
}
._五级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  text-align:left;
}
._六级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-size:10px;
  text-align:left;
}
._文本段落 {
  text-align:left;
}
.arrow {
}
.text_area {
  color:#000000;
  text-align:left;
}
.checkbox {
  text-align:left;
}
.radio_button {
  text-align:left;
}
.sticky_1 {
  text-align:left;
}
.sticky_3 {
  text-align:left;
}
.sticky_4 {
  text-align:left;
}
.marker {
  color:#FFFFFF;
}
._流程形状 {
}
.shape {
}
.paragraph {
  text-align:left;
}
.image {
  color:#000000;
}
.button {
}
.primary_button {
  color:#FFFFFF;
}
.label {
  font-size:14px;
  color:#666666;
  text-align:right;
}
.droplist {
  color:#000000;
  text-align:left;
}
.list_box {
  color:#000000;
  text-align:left;
}
._图片1 {
}
.heading_2 {
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:24px;
  text-align:left;
}
.label1 {
  font-size:14px;
  text-align:left;
}
.checkbox1 {
  text-align:left;
}
.line {
}
.box_3 {
}
.ellipse {
}
.input-placeholder {
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-size:14px;
  color:#C0C4CC;
  text-align:left;
}
.heading_1 {
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:32px;
  text-align:left;
}
._34号字_单行列表内，左方主标题文字字） {
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-size:17px;
  text-align:left;
}
._32号字_单行列表内，右方操作说明的文字__） {
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-size:16px;
  text-align:left;
}
._28号字_页面备注信息及列表的表头说明文字__） {
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-size:14px;
  text-align:left;
}
.box_1 {
}
._形状1 {
  font-size:12px;
  color:#FFFFFF;
}
.box_2 {
}
.image1 {
}
.text_field {
  color:#000000;
  text-align:left;
}
.table {
}
.table_cell {
}
.iconfont {
  font-family:'iconfont Regular', 'iconfont';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
._连接线 {
}
.icon {
}
.shape1 {
}
.paragraph1 {
  text-align:left;
}
.image2 {
  color:#000000;
}
.label2 {
  font-size:14px;
  color:#666666;
  text-align:right;
}
.icon1 {
}
.heading_11 {
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:32px;
  text-align:left;
}
.shape2 {
}
.html_button {
  text-align:center;
}
.ellipse1 {
}
.placeholder {
}
.vertical_line {
}
.tree_node {
  text-align:left;
}
.box_21 {
}
.line1 {
}
._二级标题1 {
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:24px;
  text-align:left;
}
._文本段落1 {
  text-align:left;
}
.table_cell1 {
}
.flow_shape {
}
.box_11 {
}
.paragraph2 {
  text-align:left;
}
.horizontal_line {
}
.ellipse2 {
}
._图片2 {
  color:#000000;
}
.box_12 {
}
._图像 {
}
.line2 {
}
.shape3 {
}
._一级标题1 {
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:32px;
  text-align:left;
}
.image3 {
  color:#000000;
}
